h1 {
  color: white;
  background: black;
  text-align: center;
  font-family: Verdana;
  float: right;
}

h2 {
  font-family: monospace;
  font-size: 40px;
  background: lightblue;
}

h3 {
  font-family:monospace;
}

img {
  height: 150px;
  border: 5px solid black;
}

ul {
  font-family: monospace;
}
